configuration {
	lines: 10;
	columns: 2;
	font: "Source Code Pro Semibold 10.5";
	bw: 1;
	padding: 5;
	fixed-num-lines: true;
	sidebar-mode: false;
	separator-style: "solid";
	hide-scrollbar: true;
	theme: "/usr/share/rofi/themes/oxide.rasi";
	color-normal: "#272827, #657b83, #272827, #272827, #13bf9d";
	color-urgent: "#272827, #657b83, #272827, #272827, #13bf9d";
	color-active: "#272827, #657b83, #272827, #272827, #13bf9d";
	color-window: "#272827, #13bf9d, #13bf9d";
}
