snippet onl "online"
	@online{$2,
		url = {},
		urldate = {`strftime("%Y-%m-%d")`},
		title = {$1}
	}

snippet aut "author"
	author = {Mustermann, Max and Mustermann, Max},

snippet year "year"
	year = {},

snippet month "month"
	month = {},

snippet day "day"
	day = {},
