snippet alpha "alpha"
	\\alpha

snippet Alpha "Alpha"
	\\Alpha

snippet beta "beta"
	\\beta

snippet Beta "Beta"
	\\Beta

snippet gamma "gamma"
	\\gamma

snippet Gamma "Gamma"
	\\Gamma

snippet delta "delta"
	\\delta

snippet Delta "Delta"
	\\Delta

snippet chi "chi"
	\\chi

snippet Chi "Chi"
	\\Chi

snippet phi "phi"
	\\phi

snippet Phi "Phi"
	\\Phi

snippet psi "psi"
	\\psi

snippet Psi "Psi"
	\\Psi
