snippet neg "neg"
	\\neg

snippet not "not"
	\\neg

snippet or "or"
	\\lor

snippet and "and"
	\\land

snippet vdash "vdash"
	\\vdash

snippet dashv "dashv"
	\\dashv

snippet rarr "rarr"
	\\rightarrow

snippet impl "impl"
	\\rightarrow

snippet Rarr "Rarr"
	\\Rightarrow

snippet larr "larr"
	\\leftarrow

snippet Larr "Larr"
	\\Leftarrow

snippet bot "bot"
	\\bot

snippet top "top"
	\\top

snippet forall "forall"
	\\forall

snippet exists "exists"
	\\exists
